<?xml version='1.0' encoding='utf-8'?>
<widget id="com.voteidi.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>VOTEIDI</name>
    <description>Actualité  presidentiel  2016 TCHAD</description>
    <author email="younes@" href="http://www.Republikas.com">Republikas</author>
    <preference name="Fullscreen" value="true" />

    <preference name='phonegap-version' value='cli-5.1.1' />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    
   
    
    <gap:plugin name="org.apache.cordova.file" />
    
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
   
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />
    <plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />

	<icon src="icon.png" />
	
    <icon src="res/icons/ios/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />    
    <icon src="res/icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" /> 

   

    <platform name="android">
     <icon src="res/icons/android/drawable-ldpi/Icon.png" density="ldpi" />
     <icon src="res/icons/android/drawable-mdpi/Icon.png"  density="mdpi" />
    <icon src="res/icons/android/drawable-hdpi/Icon.png"  density="hdpi" />
    <icon src="res/icons/android/drawable-xhdpi/Icon.png"  density="xhdpi" />
    <icon src="res/icons/android/drawable-xxhdpi/Icon.png"  density="xxhdpi" />
    </platform>
	
    <splash src="splash.png" />
    
   
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />

    <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="680" height="960" />
    <gap:splash src="res/screen/ios/Deafult-568h-2x.png" gap:platform="ios" width="640" height="1136" />

    <content src="https://www.voteidi.com" />
    <access origin="*" subdomains="true" />
</widget>
